body{
    margin: 0px;
}
.text-center{
    text-align: center;
}

/* Body-Header  */
#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.list-style{
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}
.navigation li{
    font-size: 18px;
    display:inline-block;
    margin-left: 30px;
    padding-top: 5px;
    transition: color 0.5sec, border-bottom 0.5sec;  
    margin-top: 5px;  
}
.navigation li a{
    color: white;
    text-decoration: none;
}
.navigation li a:hover{
    border-bottom: 2px solid white;
    color: lightgrey;

}
#name{
    color: white;
    font-size: 10vh;
    font-weight: 700;
    margin: 130px 20px 0.3rem 20px;
}
.social li{
    display: inline-block;
    margin: 0px 22px 0px 18px;
    margin-top: 0;

}
.social li img{
    height: 1.2rem;
    width: 1.2rem;
    padding: 5px;
}

.social li a img:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    border-radius: 30%;

}
section{
    width: 100%;
    /*height: 75vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n){
    background-color: white;
}

section:nth-child(2n+1){
    background-color: #9e9b9b29;
}
/* About */

/*#mypic{
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-top: -90px;
    border: 3px solid white;
    box-shadow: 0px 0px 2px 2px lightgrey;

}*/
#about {
    height: auto;
    width: 100%;
    position: relative;
}

#mypicdiv {
    height: 13rem;
    width: 13rem;
    margin: auto;
    margin-top: -16vh;
}

#mypicdiv img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0px 0px 2px 2px lightgrey;
}
#mydetailsdiv{
    /*height: 60px;
    width: 80%;
    margin: 5px 20px 0px 5rem;*/
    padding: 0px;
    margin-bottom: 40px;
    margin-top: 30px;

}
#mydetails{
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}
.section-heading{
    width: auto;
    align-items: center;
    color: #2857a4;
    font-weight: 400;
}
.section-heading span{
    
    margin-right: 10px;
    display: inline-block;
    font-size: 30px;
    padding-top: 10px;
}


/* Skills */

.skills-display{
    width: 45%;
    height: 200px;
    /* border: 4px black solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;

}
.skills-progress{
    display: flex;
    flex-wrap: wrap;
    height: 28px;
    width: 150px;
    background-color: lightgrey;
    border-radius: 0.8rem;
    box-shadow:1px 1px black;
    
    
}
.inner-div{
    display: flex;
    height: inherit;
    border-radius: inherit;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    

}
#cppdiv{
    background-color:blue;
    width:70%;
}
#cpp{
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
}
#cdiv{
    background-color: green;
    width: 60%;
}
#c{
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
}
#htmldiv{
    background-color: blue;
    width: 80%;
}
#html{
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
}
#cssdiv{
    background-color: orange;
    width: 60%;
}
#css{
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
}
#jsdiv{
    background-color:blue;
    width: 30%;
}
#js{
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
}#dsadiv{
    background-color: orange;
    width: 80%;
}
#dsa{
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
}

/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}




